
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Header and Banner start */


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 150px;
}

nav li{
    list-style-type: none;
    
}

nav li a{
    text-decoration: none;
    padding: 12px 24px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}


nav ul .btn-navbar{
    padding: 8px 20px;
}


.welcome-hero{
    background-image: url(../assets/images/Hero-bg.png);
    background-position: center;
    background-size: cover;
   padding: 30px 0px;
}

.welcome-hero-img{
   text-align: center;
   padding-top: 35px;
}


.welcome-hero-text{
    text-align: center;
    padding: 35px 230px;
}

.welcome-hero-text .heading-title{
    font-family: "Azeret Mono", monospace;
    font-size: 35px;
    font-weight: 800;
    line-height: 65px;
}


/* Header and Banner end */

/* why development section start */

.row-section{
    display: flex;
    
    padding: 25px 97px 25px 97px;
    
}

.row-section > .col-why-development{
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.col-why-development > .col-why-development-box{
    padding: 40px;
}

.col-why-development > .col-why-development-box h3{
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    color: rgba(13, 19, 33, 0.7);
}

.col-why-development > .col-why-development-box p{
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.col-why-development > .col-why-development-box .btn-learn-more{
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(0, 0, 0);
    font-family: Azeret Mono;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}



/* why development section end */




/* Inspiration section start  */

.row-inspiration{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.096);
}
.row-inspiration-box{
    padding: 20px 16px;
    border-radius: 8px;
}
.row-inspiration-box iframe{
    border-radius: 8px;
}

/* Inspiration section end  */



/* --------------- My Current Target start ----------------- */

.row-my-target{
    display: flex;
}

.col-my-target{
    padding: 15px;
}
.col-my-target > .col-my-target-box{
    padding: 35px 20px;
    border-radius: 16px;
}

.col-my-target > .col-my-target-box img, h3, p{
    margin-bottom: 20px;
}

.col-my-target > .col-my-target-box a{
    color: rgb(0, 0, 0);
}

/* --------------- My Current Target end ----------------- */


/* --------------------    Need support section start     --------------------- */

.need-bg-img{
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url(../assets/images/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
    height: 250px;
}


/* --------------------    Need support section end     --------------------- */



/* -----------------  submitting form style start  ---------------------- */

form{
    padding-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

form input[type="text"] {
    border: 0;
    padding: 12px 16px;
    width: calc(100% - 68px);
  }

  form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    background: red;
    color: #fff;
    transition: 0.3s;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-transform: uppercase;
  }




/* -----------------  submitting form style end  ---------------------- */

/* shared style start */

.btn-primary{
    padding: 12px 24px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-family: ;

}

.para{
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 35px;
    color: rgba(0, 0, 0, 0.521);
}

.padding{
    padding: 75px 150px;
}

.section-title{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 25px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* shared style end */